In [10]:
def sum(x1,x2):
  return x1+x2

def subtract(x1,x2):
  return x1-x2

def multiply(x1,x2):
  return x1*x2

In [11]:
def myreduce(operation,itObj):
  first=itObj[0]
  for i in itObj[1:]:
    first=operation(first,i)
  
  return first

In [12]:
print(myreduce(sum,[1,2,3,4,5]))

15

In [13]:
#Condition Method
def isEven(x):
  if x%2==0:
    return True
  else :
    return False

In [14]:
#Implemented filter method
def myfilter(sequence,func):
  filtered=[]
  for i in sequence:
    if func(i):
      filtered.append(i)

  return filtered

In [15]:
result=myfilter([1,2,3,4,5,6,7,8],isEven)

In [16]:
result

[2, 4, 6, 8]

In [22]:
l1=[j*i for j in ['x','y','z'] for i in  range(1,5)]
l1

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [23]:
l2=[i*j for j in range(1,5) for i in  ['x','y','z']]
l2

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [24]:
l3=list = [[x+y] for x in range(2,5) for y in range(3)]
l3

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [25]:
l4=[[i+j for i in range(2,5)] for j in range(3) ]
l4

[[2, 3, 4], [3, 4, 5], [4, 5, 6]]

In [26]:
l5=[(j,i) for i in range(1,4) for j in range(1,4)]
l5

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]