In [1]:
import pandas as pd
import numpy as np
import scipy.special
import matplotlib.pyplot as plt
import math
import scipy.stats as st

Problem Statement 1:
In each of the following situations, state whether it is a correctly stated hypothesis
testing problem and why?
1. 𝐻0: 𝜇 = 25, 𝐻1: 𝜇 ≠ 25
2. 𝐻0: 𝜎 > 10, 𝐻1: 𝜎 = 10
3. 𝐻0: 𝑥 = 50, 𝐻1: 𝑥 ≠ 50
4. 𝐻0: 𝑝 = 0.1, 𝐻1: 𝑝 = 0.5
5. 𝐻0: 𝑠 = 30, 𝐻1: 𝑠 > 30

Solution - Only 1 correctly stated hypothesis testing because in these 2 conditions only the alternate hypothesis contains all the conditions to reject the null hypothesis 

2.Alternate hypothesis is also having equality term 


3.Hypotheis testing is done w.r.t to population not sample 


4.Alternate hypothesis is also having equality term 


5.Hypotheis testing is done w.r.t to population not sample

Problem Statement 2:
The college bookstore tells prospective students that the average cost of its
textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics
students thinks that the average cost is higher. To test the bookstore’s claim against
their alternative, the students will select a random sample of size 100. Assume that
the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the
5% level of significance and state your decision.

Null hypothesis : Price is 52

We reject the null hypothsis only if sample price is sinificantly higher than 52

In [ ]:
mean=52
std_dev=4.5
n=100
sampleMean=52.80
std_error=std_dev/np.sqrt(n)
z=(sampleMean-mean)/std_error

z1=st.norm.ppf(0.95)

In [ ]:
print(z,z1)

1.7777777777777715 1.6448536269514722

Conclusion - Since z lies in the critical region we reject the null hypothesis and conclude that price of books are higher than 52

Problem Statement 3:
A certain chemical pollutant in the Genesee River has been constant for several
years with mean μ = 34 ppm (parts per million) and standard deviation σ = 8 ppm. A
group of factory representatives whose companies discharge liquids into the river is
now claiming that they have lowered the average with improved filtration devices. A
group of environmentalists will test to see if this is true at the 1% level of
significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm.
Perform a hypothesis test at the 1% level of significance and state your decision.

H0- Avg is less than 34 ppm


H1- Avg is greater or equal to 34 ppm

Thus it is a one tail test

In [ ]:
mean=34
std_dev=8
n=52
sampleMean=32.50
std_error=std_dev/np.sqrt(n)
z=(sampleMean-mean)/std_error

z1=st.norm.ppf(0.99)

In [ ]:
print(z,z1)

-1.3520817282989959 2.3263478740408408

Conclusion - Since z < 2.32 thus we accept the null hypothsis and conclude that mean has decreased

Problem Statement 4:
Based on population figures and other general information on the U.S. population,
suppose it has been estimated that, on average, a family of four in the U.S. spends
about $1135 annually on dental expenditures. Suppose further that a regional dental
association wants to test to determine if this figure is accurate for their area of
country. To test this, 22 families of 4 are randomly selected from the population in
that area of the country and a log is kept of the family’s dental expenditure for one
year. The resulting data are given below. Assuming, that dental expenditure is
normally distributed in the population, use the data and an alpha of 0.5 to test the
dental association’s hypothesis.
1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,
872, 913, 944, 954, 987, 1695, 995, 1003, 994

Null hypothesis- Mean is $1135

In [18]:
sample=np.asarray([1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699, 872, 913, 944, 954, 987, 1695, 995, 1003, 994])
sampleMean=np.mean(sample)
n=len(sample)
pmean=1135
std=np.std(sample)
SE=std/n**0.5

t=(sampleMean-pmean)/SE

t1=st.t.ppf(0.05,df=n-1)

In [19]:
t,t1

(-2.070747228595759, -1.7207429028118777)

Confidence interval is -0.68 to 0.68 and t lies in the critical zone thus null hypothesis is rejected


Problem Statement 5:
In a report prepared by the Economic Research Department of a major bank the Department manager maintains that the average annual family income on Metropolis is 48432. What do you conclude about the validity of the report if a random sample of 400 families shows and average income of 48,574 with a standard deviation of 2000?

Null Hypothesis= Mean is 48432

In [15]:
pmean=48432
n=400
sampleMean=48574
std=2000
SE=std/n**0.5
alpha=0.05
z=(sampleMean-pmean)/SE
z1=st.norm.ppf(alpha/2)

In [17]:
z1,z

(-1.9599639845400545, 1.42)

Accept null hypothesis


Problem Statement 6:
Suppose that in past years the average price per square foot for warehouses in the United States has been 32.28. A national real estate investor wants to determine whether that figure has changed now. The investor hires a researcher who randomly samples 19 warehouses that are for sale across the United States and finds that the mean price per square foot is 31.67, with a standard deviation of 1.29. assume that the prices of warehouse footage are normally distributed in population. If the researcher uses a 5% level of significance, what statistical conclusion can be reached? What are the hypotheses?

Null hypothesis - Average price is 32.28

In [21]:
sampleMean=31.67
std=1.29
n=19
pmean=32.28
alpha=0.05
SE=std/n**0.5
t=(sampleMean-pmean)/SE

t1=st.t.ppf(0.025,df=n-1)

In [22]:
t,t1

(-2.06118477175179, -2.10092204024096)

The t value marginally lies in the confidence interval thus cant comclude on null hypothesis

Problem Statement 7:

In the question values of alpha and standard deviation are not given, so it is not possible to find the value of beta.

Problem Statement 8:
Find the t-score for a sample size of 16 taken from a population with mean 10 when
the sample mean is 12 and the sample standard deviation is 1.5.

In [2]:
pmean=10
alpha=0.05
sampleMean=12
n=16
std=1.5
SE=std/(n**0.5)
t=(sampleMean-pmean)/SE
t1=st.t.ppf(alpha/2,df=n-1)

In [3]:
t,t1

(5.333333333333333, -2.131449545559323)

Sample mean in not equal to poplulation mean

Problem Statement 9:
Find the t-score below which we can expect 99% of sample means will fall if samples
of size 16 are taken from a normally distributed population.

In [6]:
n=16
t1=st.t.ppf(0.99,df=n-1)

print('Below the t score of {} '.format(t1))

Below the t score of 2.602480294995493

Problem Statement 10:
If a random sample of size 25 drawn from a normal population gives a mean of 60
and a standard deviation of 4, find the range of t-scores where we can expect to find
the middle 95% of all sample means. Compute the probability that (−𝑡0.05 <𝑡<𝑡0.10)

In [8]:
print("The t-score where we can expect to find the middle 95% of all sample means is :",st.t.ppf(q=0.95,df=24))

The t-score where we can expect to find the middle 95% of all sample means is : 1.7108820799094275

In [13]:
print("P(−𝑡0.05 <𝑡<𝑡0.10) = ",1-0.05-0.10)

P(−𝑡0.05 <𝑡<𝑡0.10) =  0.85

Problem Statement 11: Two-tailed test for difference between two population means
Is there evidence to conclude that the number of people travelling from Bangalore to
Chennai is different from the number of people travelling from Bangalore to Hosur in
a week, given the following:


Population 1: Bangalore to Chennai 

n1 = 1200


x1 = 452

s1 = 212



Population 2: Bangalore to Hosur 

n2 = 800


x2 = 523


s2 = 185

In [3]:

def z_stat_twomeans(x1,x2,se):
    return (x1-x2)/se
def sample_error_twomeans(s1,n1,s2,n2):
    return (np.sqrt((s1**2/n1)+(s2**2/n2)))
alpha=0.05

z=z_stat_twomeans(x1=452,x2=523,se=sample_error_twomeans(s1=212,n1=1200,s2=185,n2=800))
p=2*(1-st.norm.cdf(x=np.absolute(z)))

In [22]:
p

2.220446049250313e-15

p<0.05 thus we reject the null hypothesis

Problem 12

H0=Means are same

In [4]:
z=z_stat_twomeans(x1=308,x2=254,se=sample_error_twomeans(s1=84,n1=100,s2=67,n2=100))
p=2*(1-st.norm.cdf(x=np.absolute(z)))
p

5.015925257367826e-07

Null Hypothesis is rejected

Problem 14
Problem Statement 14:
The manufacturers of compact disk players want to test whether a small price
reduction is enough to increase sales of their product. Is there evidence that the
small price reduction is enough to increase sales of compact disk players?
Population 1: Before reduction
n1 = 15
x1 = Rs. 6598 s1 = Rs. 844
Population 2: After reduction n2 = 12
x2 = RS. 6870
s2 = Rs. 669

In [7]:
def z_stat_twomeans(x1,x2,se):
    return (x1-x2)/se
def sample_error_twomeans(s1,n1,s2,n2):
    return (np.sqrt((s1**2/n1)+(s2**2/n2)))

def est_std(n1,s1,n2,s2):
    return np.sqrt(((n1*s1**2)+(n2*s2**2))/(n1+n2-2))

alpha=0.05
est_stand_dev=est_std(n1=15,s1=844,n2=12,s2=669)
t=z_stat_twomeans(x1=6870,x2=6598,se=sample_error_twomeans(s1=est_stand_dev,s2=est_stand_dev,n1=15,n2=12))
p=1-(st.t.cdf(x=t,df=15+12-1))
if p<alpha:
    print("Null Hypothesis is rejected(Average Sales after reduction increased)")
else: 
    print("Null Hypothesis is accepted(Average Sales before and after reduction is same or less)")

Null Hypothesis is accepted(Average Sales before and after reduction is same or less)

Problem 15

In [8]:
def z_test_pop_proportions(p1,p2,se):
    return ((p1-p2)/se)
def sample_error_pop_proportions(p1,p2,n1,n2):
    return np.sqrt(((p1*(1-p1))/n1)+((p2*(1-p2))/n2))
alpha=0.05
p1=53/1000
p2=43/100
z=z_test_pop_proportions(p1=p1,p2=p2,se=sample_error_pop_proportions(p1=p1,p2=p2,n1=1000,n2=100))
p=2*(1-st.norm.cdf(x=np.absolute(z)))
if p<alpha:
    print("Null Hypothesis is rejected(Banks share of the car loan market in 1980 and 1995 is not equal(P1!=P2))")
else:
    print("Null Hypothesis is accepted(Banks share of the car loan market in 1980 and 1995 is equal(P1=P2))")

Null Hypothesis is rejected(Banks share of the car loan market in 1980 and 1995 is not equal(P1!=P2))

In [11]:
#Problem 16
alpha=0.05
se=sample_error_pop_proportions(p1=0.4,p2=0.2,n1=300,n2=140)
z=((0.4-0.2-0.1)/se)
p=st.norm.cdf(z)
if p<alpha:
    print("Null Hypothesis is rejected")
else:
    print("Null Hypothesis is accepted")

Null Hypothesis is accepted

Problem Statement 17:
A die is thrown 132 times with the following results: Number turned up: 1, 2, 3, 4, 5, 6
Frequency: 16, 20, 25, 14, 29, 28
Is the die unbiased? Consider the degrees of freedom as 𝑝 −1

H0- Die is unbiased


H1- Die is not unbiased

In [14]:
observed=np.array([16,20,25,14,29,28])
expected=np.array([22,22,22,22,22,22])
chi,p=st.chisquare(f_obs=observed,f_exp=expected)
df=5
print(chi)
if p<0.05:
    print("Null Hypothesis is rejected")
else:
    print("Null Hypothesis is accepted")

9.0
Null Hypothesis is accepted

Problem Statement 18:

In a certain town, there are about one million eligible voters. A simple random
sample of 10,000 eligible voters was chosen to study the relationship between
gender and participation in the last election. The results are summarized in the
following 2X2 (read two by two) contingency table:

Ho- There is no relationship between Gender and Participation of election

H1- There is relationship between Gender and Participation of election

In [17]:
alpha=0.05
inp=np.array([[2792,3591],[1486,2131]])
chi2,p,dof,expected=st.chi2_contingency(inp)
print("The expected values are :",expected)
print("The expected values are :",expected)
print(chi2)
if p<alpha:
    print("Gender and voting are dependent")
else:
    print("Gender and voting is independent")

The expected values are : [[2730.6474 3652.3526]
 [1547.3526 2069.6474]]
The expected values are : [[2730.6474 3652.3526]
 [1547.3526 2069.6474]]
6.552337973968181
Gender and voting are dependent

Problem 19-

In [18]:

alpha=0.05
obs=[41,19,24,16]
exp=[25,25,25,25]
chi,p=st.chisquare(f_obs=obs,f_exp=exp)
if p<alpha:
    print("candidates are not equally popular")
else:
    print("candidates are equally popular")

candidates are not equally popular

Problem 20-

In [19]:
alpha=0.05
inp=np.array([[18,22,20],[2,28,40],[20,10,40]])
chi2,p,dof,expected=st.chi2_contingency(inp)
if p<alpha:
    print("There is a significant relationship between age and photograph preference")
else:
    print("There is no significant relationship between age and photograph preference")

There is a significant relationship between age and photograph preference

Problem 22-

In [20]:
alpha=0.01
inp=np.array([[12,32],[22,14],[9,6]])
chi2,p,dof,expected=st.chi2_contingency(inp)
if p<alpha:
    print("There is a relationship between height and leadership qualities")
else:
    print("There is no relationship between height and leadership qualities")

There is a relationship between height and leadership qualities

In [21]:
#Problem 23-


alpha=0.05
inp=np.array([[679,103,114],[63,10,20],[42,18,25]])
chi2,p,dof,expected=st.chi2_contingency(inp)
if p<alpha:
    print("Marital status and employement status are dependent")
else:
    print("Marital status and employement status are independent")

Marital status and employement status are dependent